name: Build and deploy workflow
on: [push]
jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: clone code
        uses: actions/checkout@v2
      - name:
        run: docker build -t igorek86/skypro:$GITHUB_REF_NAME-$GITHUB_RUN_ID .